/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 li.wc_payment_method.payment_method_trelis,
 li.wc_payment_method.payment_method_trelis_subs {
     display: flex;
 }
 
 
 li.wc_payment_method.payment_method_trelis img,
 li.wc_payment_method.payment_method_trelis_subs img {
     height: 36px;
 }